body {
  background: #fff no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Additional styling */
  
body {
  font-size: 18px;
  font-family: "Vibur", sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh;  
  padding: 0;
  margin: 0;
  display: flex;
  color: rgb(46, 48, 87);
}  

root {
  width: 100vw;
  height: 100vh;
}

.notFound {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
